/* basic configuration */
* {
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #BDA0ED;
    color: #ffffff;
}

#preloader {
    background: #000;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

#map {
    height: 80vh;
    width: 85vw;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2em;
}

h5 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

a {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000000;
}

a:hover {
    color: #FFFFFF;
}

.content-container {
    max-width: 85vw;
}


/* nav bar */
nav {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9A2A9;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    z-index: 99999;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style-type: none;
}

nav a {
    height: 100px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

/* widget */
#city-aqi-container {
    margin-bottom: 10px;
}

/* burger */
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #212738;
    margin: 6px;
}

/* burger-start */
@media screen and (max-width:680px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 8vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        opacity: 0;
        display: none;
        z-index: 9999;
        background-color: #E9A2A9;
        gap: 30px
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
    opacity: 1;
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* main content */
section {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
    background-color: #F6DA31;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* content detail */
Details {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    background-color: #add8e6;
    margin-bottom: 10px;
}

.info-container {
    width: 85vw;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    gap: 5px;
    padding: 5px;
    background-color: white;
}

.info-container .green {
    background-color: #009865;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.info-container .yellow {
    background-color: #FEDE33;
    border: 1px solid black;
    padding: 10px;
}

.info-container .orange {
    background-color: #FE9936;
    border: 1px solid black;
    padding: 10px;
}

.info-container .red {
    background-color: #CC0033;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.info-container .purple {
    background-color: #670099;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

.info-container .maroon {
    background-color: #7E0123;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5FC3A5;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}

footer h1 {
    max-width: 1000px;
    text-align: center;
}

footer h5 {

    margin-bottom: 50px;
}