/* basic configuration */
* {
    margin: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: #BDA0ED;
    color: #ffffff;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2em;
}
h5 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
a {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #000000;
}
a:hover {
    color: #FFFFFF;
}


/* nav bar */
nav {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9A2A9;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li {
    list-style-type: none;
}
nav a {
    height: 100px;
    padding: 100px 15px;
}

/* main content */
section {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
    background-color: #F6DA31;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* content detail */
Details {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    background-color: lightblue;
}
.info-container {
    width: 85vw;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    gap: 5px;
    padding: 5px;
    background-color: white;
}
.info-container .green {
    background-color: #009865;
    color: white;
    border: 1px solid black;
    padding: 10px;
}
.info-container .yellow {
    background-color: #FEDE33;
    border: 1px solid black;
    padding: 10px;
}
.info-container .orange {
    background-color: #FE9936;
    border: 1px solid black;
    padding: 10px;
}
.info-container .red {
    background-color: #CC0033;
    color: white;
    border: 1px solid black;
    padding: 10px;
}
.info-container .purple {
    background-color: #670099;
    color: white;
    border: 1px solid black;
    padding: 10px;
}
.info-container .maroon {
    background-color: #7E0123;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5FC3A5;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}
footer h1 {
    max-width: 1000px;
    text-align: center;
}